*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #5c8ef1, #2f5fb4, #1b2f5e);
    background-attachment: fixed;
    font-family: 'Segoe UI', sans-serif;
}
header{
    background:linear-gradient(145deg, rgba(255,255,255,0.12), rgba(0,0,0,0.25));
    color: #000;
    padding: 10px 0;
    text-align: center;
    
    font-weight: bold;
}

header h1{
    margin-bottom: 10px;
    text-shadow: 1px 2px 1px  rgb(243, 244, 245) ;
    font-size: 60px;
}

header h2{
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 2px 1px  rgb(243, 244, 245) ;
    margin-top: 15px;
}

form{
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #0055FF;
    border-radius: 10px;
    max-width: 600px;
    background-color: #1d1c1c;
    color: #fff;
}

.container-form{
    display: flex;
    flex-direction:column;
    gap:1px;
    margin-bottom: 20px;

    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 25px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.3);
    padding: 10px;
}
label{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

input[type="checkbox"]{
    margin-right: 10px;
    transform: scale(1.2);
    display: list-item;
    margin-left: 20px;
}

.accesorios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 10px;
}