*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5c8ef1;
    
}
header{
    background:#0055FF;
    color: #000;
    padding: 10px 0;
    text-align: center;
    
    font-weight: bold;
}

header h1{
    margin-bottom: 10px;
    text-shadow: 1px 2px 1px  rgb(243, 244, 245) ;
    font-size: 60px;
}

header h2{
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 2px 1px  rgb(243, 244, 245) ;
    margin-top: 15px;
}

form{
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #0055FF;
    border-radius: 10px;
    max-width: 600px;
    background-color: #1d1c1c;
    color: #fff;
}

.container-form{
    display: flex;
    flex-direction:column;
    gap:1px;
    margin-bottom: 20px;

    background: #5c8ef1;
    border-radius: 10px;
    padding: 10px;
}
label{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}